<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AlexTravel{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    </head>
    <body>

      <nav class="navbar navbar-expand-lg navbar-light" id="navBarMenu">
        <a class="navbar-brand" href="{{ path('homepage') }}">AlexFlight</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ path('flight') }}">Flights</a>
            {% if is_granted('ROLE_ADMIN') %}
              <a class="nav-item nav-link" href="{{ path('createflight') }}">Create flight </a>
              <a class="nav-item nav-link" href="{{ path('listflights')  }}">List of flights </a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
            <a class="nav-item nav-link" href="{{ path('manageFlight')}}">My flights</a>
            {% endif %}
          </div>
          <div class="navbar-nav ml-auto">
            {% if app.user %}
              <a class="nav-item nav-link" href="{{ logout_path('main')}}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ path('registration')}}">Register</a>
              <a class="nav-item nav-link" href="{{ path('login')}}">Login</a>
            {% endif %}

          </div>
        </div>
      </nav>

      {% for label, messages in app.flashes %}
          {% for message in messages %}
          <div class="container">
            <div class="alert alert-success" role="alert">
                  {{ message }}
            </div>
          </div>
          {% endfor %}
      {% endfor %}

        {% block body %}{% endblock %}


        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}



    </body>
</html>
